<div class="info">
    <h3>Sections#show</h3>
    <p>Find me in app/views/sections/show.html.erb</p>
</div>

<% @page_title = "Show Section" %>

</br></br>
<%= link_to("Back to sections list", sections_path( :page_id => @page.id ), :class => "back-link")%>

<div class="sections show">
    <h2>Show sections</h2>

    <table summary="section detail view">
        <tr>
            <th>ID</th>
            <td><%= @section.id %></td>
        </tr>
        <tr>
            <th>page_id</th>
            <td><%= @section.page_id %></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><%= @section.name %></td>
        </tr>
        <tr>
            <th>Position</th>
            <td><%= @section.position %></td>
        </tr>
        <tr>
            <th>Visible ?</th>
            <td><%= @section.visible ? "True" : "False" %></td>
        </tr>
        <tr>
            <th>Content type</th>
            <td><%= @section.content_type %></td>
        </tr>
        <tr>
            <th>Content</th>
            <td><%= @section.content %></td>
        </tr>
        <tr>
            <th>Created at</th>
            <td><%= @section.created_at %></td>
        </tr>
        <tr>
            <th>Updated at</th>
            <td><%= @section.updated_at %></td>
        </tr>
    </table>
</div>